@charset 'utf8';

#container{
	width:	1000px;
	text-align:	center;
	margin:		auto;
}

#header{
	text-align:	center;
}

#registform{
	text-align:	center;
}

table{
	margin:	auto;
}

td span{
	color:	#E22;
}

#confirm{
	display: inline-block;
	width: 100px;
	height: 50px;
	background-color:   #DDD;
	border: 0;
	font-size:	32;
}
tr td {
	background-color:	#EEE;
}
